<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Cookies_Program</display-name>
    <servlet>
    <description></description>
    <display-name>CookiesEx1</display-name>
    <servlet-name>CookiesEx1</servlet-name>
    <servlet-class>mypackage.CookiesEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesEx1</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSuccess</display-name>
    <servlet-name>LoginSuccess</servlet-name>
    <servlet-class>mypackage.LoginSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccess</servlet-name>
    <url-pattern>/LoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesEx1_logout</display-name>
    <servlet-name>CookiesEx1_logout</servlet-name>
    <servlet-class>mypackage.CookiesEx1_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesEx1_logout</servlet-name>
    <url-pattern>/CookiesEx1_logout</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>PrintCookies</display-name>
    <servlet-name>PrintCookies</servlet-name>
    <servlet-class>mypackage.PrintCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintCookies</servlet-name>
    <url-pattern>/PrintCookies</url-pattern>
  </servlet-mapping>
</web-app>
<!-- 
      <display-name>httpservletEx1main</display-name>
    <servlet-name>httpservletEx1main</servlet-name>
    <servlet-class>mypackage.httpservletEx1main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpservletEx1main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>httpsessionEx1</display-name>
    <servlet-name>httpsessionEx1</servlet-name>
    <servlet-class>mypackage.httpsessionEx1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>httpsessionEx1</servlet-name>
    <url-pattern>/httpsessionEx1</url-pattern>
  </servlet-mapping>
  -->